// ==========================================================================
// # Navbar
// =========================================================================

.navbar {
  backdrop-filter: blur(8px);
  background-color: transparent!important;

  &__logo {
    height: 2.75rem;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}
