// ==========================================================================
// # Navbar
// =========================================================================

.navbar {
  &__logo {
    height: 2.75rem;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}
