// ==========================================================================
// # Navbar
// =========================================================================

.navbar {
  // backdrop-filter: blur(8px);
  // background-color: transparent!important;
  background-color: #030712;
  border-bottom: 1px solid #2d2d2d;

  &__logo {
    height: 2.25rem;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__link {
    font-size: 14px;
  }
}
